<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodlist</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>

    <ul>
        @{
            string[] Foods = {"Apple Pie", "Burritos", "Clams Casino", "Donuts"};
            @foreach (string food in Foods)
            {
                if(@food[0] == 'c' || @food[0] == 'C')
                {
                    <li style="color: red;">@food</li>
                }
                else{
                    <li>@food</li>
                }
            }
        }
    </ul>
</body>
</html>